[submodule "open_data"]
	path = data
	url = https://git.rwth-aachen.de/acs/public/automation/plf/plf-data.git
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
