{% extends "default/module.html.jinja2" %}
{% block nav_title %}
<img src="https://git.rwth-aachen.de/acs/public/automation/plf/proloaf/-/raw/master/logo.png" style="display: block; margin: 1em 0; width: 90%">
{% endblock %}


{% block style_theme %}
    :root {
        --pdoc-background: #fff;
    }
    .pdoc {
        --text: #212529;
        --muted: #6c757d;
        --link: #0066BB;
        --link-hover: #1659c5;
        --code: #f7f7f7;
        --active: #fff598;
        --accent: #d4e8ff;
        --accent2: #fff;
        --nav-hover: rgba(212, 232, 255, 0.8);
        --name: #0066BB;
        --def: #8622bf;
        --annotation: #007020;
    }
{% endblock %}

{% block style_layout %}
    /* Colors of overall document */
    body {
        background-color: var(--pdoc-background);
    }
    /* Responsive Layout */
    html, body {
        width: 100%;
        height: 100%;
    }
    @media (max-width: 769px) {
        #navtoggle {
            cursor: pointer;
            position: absolute;
            width: 50px;
            height: 40px;
            top: 1rem;
            right: 1rem;
            border-color: var(--text);
            color: var(--text);
            display: flex;
            opacity: 0.8;
        }
        #navtoggle:hover {
            opacity: 1;
        }
        #togglestate + div {
            display: none;
        }
        #togglestate:checked + div {
            display: inherit;
        }
        main, header {
            padding: 2rem 3vw;
        }
        .git-button {
            display: none !important;
        }
        nav input[type="search"]:valid ~ * {
            display: none !important;
        }
    }
    @media (min-width: 770px) {
        :root {
            --sidebar-width: clamp(12.5rem, 28vw, 22rem);
        }
        nav {
            position: fixed;
            overflow: auto;
            height: 100vh;
            width: var(--sidebar-width);
        }
        main, header {
            padding: 3rem 2rem 3rem calc(var(--sidebar-width) + 3rem);
            width: calc(54rem + var(--sidebar-width));
            max-width: 100%;
        }
        #navtoggle {
            display: none;
        }
    }
    #togglestate {
        display: none;
    }
    /* Nav */
    nav.pdoc {
        --pad: 1.75rem;
        --indent: 1.5rem;
        background-color: var(--accent2);
        border-right: 1px solid var(--accent2);
        box-shadow: 0 0 20px rgba(50, 50, 50, .2) inset;
        padding: 0 0 0 var(--pad);
        overflow-wrap: anywhere;
        scrollbar-width: thin; /* Scrollbar width on Firefox */
        scrollbar-color: var(--accent2) transparent /* Scrollbar color on Firefox */
    }
    nav.pdoc::-webkit-scrollbar {
        width: .4rem; /* Scrollbar width on Chromium-based browsers */
    }
    nav.pdoc::-webkit-scrollbar-thumb {
        background-color: var(--accent2); /* Scrollbar color on Chromium-based browsers */
    }
    nav.pdoc > div {
        padding: var(--pad) 0;
    }
    nav.pdoc .module-list-button {
        display: inline-flex;
        align-items: center;
        color: var(--text);
        border-color: var(--muted);
        margin-bottom: 1rem;
    }
    nav.pdoc .module-list-button:hover {
        border-color: var(--text);
    }
    nav.pdoc input[type=search] {
        display: block;
        outline-offset: 0;
        width: calc(100% - var(--pad));
    }
    nav.pdoc ul {
        list-style: none;
        padding-left: 0;
    }
    nav.pdoc li {
        display: block;
        margin: 0;
        padding: .2rem 0 .2rem var(--indent);
        transition: all 100ms;
    }
    nav.pdoc > div > ul > li {
        padding-left: 0;
    }
    nav.pdoc li:hover {
        background-color: var(--nav-hover);
    }
    nav.pdoc a, nav.pdoc a:hover {
        color: var(--text);
    }
    nav.pdoc a {
        display: block;
    }
    nav.pdoc > h2:first-of-type {
        margin-top: 1.5rem;
    }
    nav.pdoc .class:before {
        content: "class ";
        color: var(--muted);
    }
    nav.pdoc .function:after {
        content: "()";
        color: var(--muted);
    }
{% endblock %}

